/* CREATE */
.createWrapper {
  display: grid;
  grid-template-areas:
    "head head head"
    "topic content contentPart";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.25fr 1fr;
  gap: 5%;
  padding: 1%;
}

.topic {
  grid-area: topic;
  display: grid;
  grid-template-areas:
    "head head"
    "create create"
    "update formList"
    "list list";
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 0.25fr) auto;
  gap: 2%;
  padding: 1%;
  border: 1px solid gray;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "head head"
    "create create"
    "update formList"
    "list list";
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 0.25fr) auto;
  gap: 2%;
  padding: 1%;
  border: 1px solid gray;
}

.contentPart {
  grid-area: contentPart;
  display: grid;
  grid-template-areas:
    "head head"
    "create create"
    "update formList"
    "list list";
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, 0.25fr) auto;
  gap: 2%;
  padding: 1%;
  border: 1px solid gray;
}

.head {
  grid-area: head;
  padding: 1%;
  text-align: center;
}

.formList {
  grid-area: formList;
  padding: 1%;
}

.list {
  grid-area: list;
  padding: 1%;
}

.create {
  grid-area: create;
  padding: 1%;
}

.update {
  grid-area: update;
  padding: 1%;
}

/* CREATE SCREEN */
.createScreenWrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "form list";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr 1fr;
  gap: 5%;
  padding: 1%;
}

fieldset {
  padding: 1%;
}

.button {
  text-align: center;
  padding: 1%;
}
