/* CREATE */
.createWrapper {
  display: grid;
  grid-template-areas:
    "head"
    "list";
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  gap: 5%;
  padding: 1%;
}

/* CREATE SCREEN */
.createScreenWrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "form list";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.25fr 1fr;
  gap: 5%;
  padding: 1%;
}

.head {
  grid-area: head;
  padding: 1%;
  text-align: center;
}

.form {
  grid-area: form;
  padding: 1%;
  border:1px solid gray;
}

.list {
  grid-area: list;
  padding: 1%;
  border:1px solid gray;
}

fieldset {
  padding: 1%;
}

.button {
  text-align: center;
  padding: 1%;
}