.text {
    color: black;
}

.code {
    background-color: rgb(27, 25, 25);
    color: antiquewhite;
    border: 1px solid #999;
    display: block;
    padding: 20px; 
}

.subtitle {
    color: brown;
    font-weight: bold;
}

body {
    background-color: rgb(211, 193, 193);
}