.topicWrapper {
  display: grid;
  grid-template-areas:
    "head"
    "list";
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr;
  gap: 5%;
  padding: 1%;
}

.head {
  grid-area: head;
  padding: 1%;
  text-align: center;
}

.list {
  grid-area: list;
  padding: 1%;
  border: 1px solid gray;
}
