{% extends "base.html" %}
{% load static %}
{% block title %}Content{% endblock %}
{% block content %}
  <h1>{{ content.name }}</h1>
  <br />
  <br />
  {% if content_part_list %}
    <ul>
      {% for content_part in content_parts %}
        <li>
          <h3>{{ content_part.title }}</h3>
          <div>
            {% if content_part.type == "code" %}
              <pre class="code">
        <code class="code">
          {{ content_part.text|linebreaks }}
        </code>
      </pre>
            {% else %}
              <p class="{{ content_part.type }}">{{ content_part.text }}</p>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No Content Part available</p>
  {% endif %}
{% endblock %}
