{% extends "base.html" %}
{% block csshead %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'courses/css/content.css' %}"/>
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}Content{% endblock %}
{% block content %}
  <div class="contentWrapper">
    <h1 class="head"
        title="{{ content.creation_date_info }} | {{ content.update_date_info }}">{{ content.name }}</h1>
    <div class="content">
      {% if content_parts %}
        <ul>
          {% for content_part in content_parts %}
            <li>
              <h5 class="subtitle"
                  title="{{ content_part.creation_date_info }} | {{ content_part.update_date_info }}">
                {{ content_part.title }}
              </h5>
              <div>
                {% if content_part.type_id == 2 %}
                  <code class="code">
                    {{ content_part.text|linenumbers|linebreaks }}
                  </code>
                {% elif content_part.type_id == 3 %}
                  <div class="note">
                    <p>{{ content_part.text|linebreaks }}</p>
                  </div>
                {% else %}
                  <div class="text">
                    <p>{{ content_part.text|linebreaks }}</p>
                  </div>
                {% endif %}
              </div>
              <br/>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No Content Part available</p>
      {% endif %}
    </div>
    <div class="list">
      <h5 class="subtitle">{{ content.topic.name }}:</h5>
      {% if content_list %}
        <ul>
          {% for content in content_list %}
            <li>
              <a href="{% url 'courses:content' content.topic.id content.id %}">{{ content.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No Content available</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
