{% extends "base.html" %}
{% load static %}

{% block title %}Content{% endblock %}

{% block content %}
<h1>{{ content.name }}</h1>
<br>
<br>
{% if content_part_list %}
<ul>
    {% for content_part in content_part_list %}
        <li>
            <h3>{{ content_part.title }}</h3>
            <p>{{ content_part.text }}</p>
            {% for lines in content_lines %}
                {% for line in lines %}
                    {% if line.type == "code" %}
                        <pre class="code">
                            <code class="code">
                               {{ line.text|linebreaks }}
                            </code>
                        </pre>
                    {% else %}
                        <p class="{{ line.type }}">{{ line.text }}</p>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>No Content Part available</p>
{% endif %}

{% endblock %}