{% extends "base.html" %}
{% block csshead %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'courses/css/createScreen.css' %}"/>
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}Create Resources{% endblock %}
{% block content %}
  <div class="createWrapper">
    <h1 class="head">Create some resources for Python Course</h1>
    <div class="list">
      <ul>
        <li>
          <h4>
            <a href="{% url 'courses:createTopic' %}">Create Topic</a>
          </h4>
        </li>
        <li>
          <h4>
            <a href="{% url 'courses:createContent' %}">Create Content</a>
          </h4>
        </li>
        <li>
          <h4>
            <a href="{% url 'courses:createContentPart' %}">Create a Content Part</a>
          </h4>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
