{% extends "base.html" %}
{% block csshead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/css/home.css' %}"/>
{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="homeScreenWrapper">
        <h1 class="head">Hello ! Welcome to Python Courses.</h1>
        <div class="img">
            <img src="{% static 'courses/img/python_logo.png' %}"
                 alt="Python Logo"
                 width="200"
                 height="200"/>
        </div>
    </div>
{% endblock %}
