{% block csshead %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'courses/css/style.css' %}"/>
{% endblock %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'courses:home' %}">Python Courses</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'courses:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDropdown"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Topics
        </a>
        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
          {% for topic in topic_list %}
            <a class="dropdown-item" href="{% url 'courses:topic' topic.id %}">{{ topic.name }}</a>
          {% endfor %}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'courses:create' %}">Create resources</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse flex-grow-0"
         id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
        <li class="nav-item active">
          <a class="nav-link" href="/accounts/logout">
            <img src="{% static 'courses/img/power-button.png' %}"
               alt="Log Out"
               width="20"
               height="20"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
