{% extends "base.html" %}
{% block csshead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses/css/topic.css' %}"/>
{% endblock %}
{% load crispy_forms_tags %}
{% block title %}Topic{% endblock %}
{% block content %}
    <div class="topicWrapper">
        <div class="head">
            <h3>{{ topic.name }}</h3>
        </div>
        <div class="list">
            <h4>Content List</h4>
            {% if content_list %}
                <ul>
                    {% for content in content_list %}
                        <li>
                            <a href="{% url 'courses:content' content.topic.id content.id %}">{{ content.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No Content available</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
